@import "reset-css/sass/reset";

body {
  background-color: #000020;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;

  #app {
    #score {
      height: 1em;
      margin: 0.1em;
      font-size: 1em;
    }
    #game {
      button {
        width: 10vw;
        height: 10vw;
        font-size: 5vw;
      }
    }
    button {
      height: 2em;
      font-size: 1em;
      background-color: whitesmoke;
      color: #000020;
      border-radius: 0.5em;
    }
  }
}